<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Users</title>
	</head>
	<body>
		<h1>User Detail</h1>
		
		<form action="" method="post">
			<div>
				Username: <input type="text" th:field="${user.username}" />
			</div>
			<div>
				Password: <input type="password" th:field="${user.password}" />
			</div>
			<div>
				Full Name: <input type="text" th:field="${user.name}" />
			</div>
			<div>
				<input type="submit" value="Update User Account" />
			</div>
		</form>
        <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
            <input type="submit" value="Delete User Account"/>
        </form>
	</body>
</html>